<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventDate %>
</p>

<p>
  <strong>Links:</strong>
  <%= @event.links %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
